@import url("https://fonts.googleapis.com/css2?family=Festive&family=Lobster&display=swap");

* {
  font-family: "Lobster", cursive;
  margin: 0;
  padding: 0;
}

html {
  /* background-color: #eee5d6; */
  background-image: url("../img/pizza-background.png");
  background-size: cover;
  height: 100%;
}

body {
  height: 100%;
  background-color: white;
}

header {
  background-color: inherit;
  position: sticky;
  top: 0;
}

header div {
  height: 50px;
}

header div a {
  color: black;
}

header div a:hover {
  color: #ffba5a;
}

#header__logo {
  max-width: 100%;
  max-height: 100%;
}

nav ul li {
  padding: 1rem;
  text-align: center;
}
nav ul li:hover {
  color: #ffba5a;
  /* background-color: #665c84; */
}

header div nav ul li:hover {
  border-radius: 10px;
  color: #ffba5a;
}

header div .d-none .d-lg-flex {
  background-color: wheat;
}

li {
  white-space: nowrap;
}

#content {
  background-color: inherit;
  min-height: calc(100% - 100px - 50px);
  height: auto !important;
  height: 100%;
}

footer {
  height: 100px;
  background-color: inherit;
}
