@import url("https://fonts.googleapis.com/css2?family=Festive&family=Lobster&display=swap");

* {
  font-family: "Lobster", cursive;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

html {
  background-image: url("../img/pizza-background.jpg");
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
}

body {
  min-height: 100%;
  height: auto;
  background-color: white;
}

/* HEADER START */

header {
  background-color: inherit;
  position: sticky;
  top: 0;
  z-index: 10;

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  header {
    margin-right: 1rem;
    margin-left: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

header div {
  height: 50px;
}

header div a {
  color: black;
}

header div a:hover,
header div a:active {
  color: #ffba5a;
}

#header__logo {
  max-width: 100%;
  max-height: 100%;
  animation: anim_shake 5s infinite;
}

@keyframes anim_shake {
  2% {
    transform: rotate(5deg);
  }
  4% {
    transform: rotate(-5deg);
  }
  6% {
    transform: rotate(5deg);
  }
  8% {
    transform: rotate(-5deg);
  }
  10% {
    transform: rotate(0deg);
  }
}

nav ul li {
  padding-left: 5px;
  padding-right: 10px;
  text-align: center;
  height: 100%;
}
header nav ul li:hover {
  color: #ffba5a;
}

header div nav ul li:hover {
  border-radius: 10px;
  color: #ffba5a;
}

header div .d-none .d-lg-flex {
  background-color: wheat;
}

li {
  white-space: nowrap;
}

.material-icons,
.centered-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropbtn {
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  top: 50px;
  left: 0px;
  right: 0px;
  background-color: white;
  height: auto;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

@media (min-width: 768px) {
  .dropdown-content {
    position: absolute;
    left: auto;
    right: 0;
    min-width: 400px;
  }
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.show_dropdown {
  display: block;
  max-height: 0px;
  overflow: scroll;
  animation: anim_show_dropdown 0.5s forwards;
}

@keyframes anim_show_dropdown {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 300px;
  }
}

/* HEADER END */
/* FOOTER START */

footer {
  background-color: #75543b;
  color: white;
}

.footer-info-element-heading {
  color: #bd9d85;
}

.copyright {
  font-size: 16px;
}

/* FOOTER END */
